body{
    margin: 0;
    padding: 0;
}
.general-info{
    border: 1px solid #333;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 50%;
   margin-left: 350px;
   border-bottom: none;
}

